<template>
  <v-flex black--text >
    <div class="text-center" >
        <h3 class="headline mb-0"> CLoser To Nature Than Thought</h3>
        <div>
          <h4>
            Uganda Safari

      If you've ever wanted to sit with mountain gorillas in their natural rainforest habitat then a Uganda safari will deliver on your expectations. Boasting a 90% success rate at finding habituated gorilla family groups in the extraordinary Bwindi Impenetrable Forest, gorilla trekking in Uganda has become one of Africa's most powerful wildlife experiences and such is its success that the gorilla population is actually increasing.

      But don't think that a Uganda safari is only about gorillas in rainforests: this landlocked East African country is home to a range of diverse national parks and is a strong contender for one of the world's best bird watching destinations. Head for Murchison Falls or Queen Elizabeth National Park for classic big game viewing, chimpanzee trekking and river cruises.

      Kibale, in southern Uganda, forms a massive wildlife corridor with Queen Elizabeth National Park that is used by migrating elephants in search of water. A mixture of tropical rainforest, swamp and grasslands, Kibale supports Africa’s biggest population of chimpanzees as well as at least a dozen other primate species. It is a top destination for those wanting to trek primates, including gorillas, and with over 320 recorded bird species, is also a haven for twitchers.

      A green, hilly and elevated country with many lakes and mountains, Uganda's appeal lies in its simplicity. Infrastructure is limited but growing and there is now a good range of safari accommodation and city-based hotels. Ideal for seasoned safari-goers, bird watchers and wildlife enthusiasts, Uganda's star is on the rise - combine it with Kenya or Tanzania for a holistic East African safari experience..
          </h4>
        </div>
    </div>
  </v-flex>



</template>
<script>
</script>
<style>
</style>
