<template>
  <v-flex black--text>
    <div class="text-center">
      <h1>Uganda Travel Advice</h1>
<h4>
There's nothing like up-to-date, relevant travel information direct from the experts - get Ekyama's essential Uganda travel secret advice before you go.

</h4>


<br />
 <h3> Money & Spending</h3>

<h4>

Uganda's unit of currency is the Uganda Shilling and you'd be advised to get some on arrival as it is far easier to buy drinks, curios and meals in the local currency when travelling between destinations.

US Dollars are widely accepted throughout the country though note that cash is best: traveller's cheques and credit cards can be used at most lodges and in Kampala but attract hefty transaction fees.
</h4>

<br />
<h3>Tipping</h3>
<h4>
Tipping of around 10 - 15% is customary in Uganda for good service. Tips are usually given in Uganda Shillings or US Dollars. If you are doing a gorilla trek, tipping is at your discretion - your porter (if you choose to take one) should usually receive the highest tip, with a second tip distributed between your guides, trackers and security personnel.

For in-depth tipping guidelines, enquire with one of our Africa Safari Experts - they'd be happy to share their knowledge with you.
</h4>


<br />
<h3>Climate</h3>
<h4>
Average year-round temperatures: 14°C to 27°C

Rainy seasons: March to May and September to December

Refer to “best time to visit Uganda” for climate charts and advice on the best times of year for gorilla trekking.
</h4>



<br />
<h3>What to Pack</h3>
<h4>

During the day, temperatures in Uganda are generally warm so pack plenty of lightweight clothing. If you are going gorilla trekking, pack long trousers and long-sleeved tops, long socks to wear over your trousers as protection against ants, a pair of light gloves to protect against nettles, a hat and a raincoat.

A pair of sturdy, comfortable hiking boots is most important – try to break these in before your trip rather than wearing them brand new as you’re likely to get blisters.

The mountains tend to be cold and damp so pack according to the altitude - a change of clothes and a warm fleece in your day pack, along with sunscreen and insect repellent are advised.
</h4>

<br />
 <h3>Flights & Getting Around</h3>
<h4>
Did you know you can book your flights through EkyamaAdventures? For more information and frequently asked questions, please see our Flights section.

Entebbe International Airport: located 35km from Kampala, Entebbe is Uganda's international gateway. Visitors usually arrive via Nairobi.

Flying by private charter aircraft is very expensive in Uganda - most travellers use road transfers with mini buses or, preferably, 4X4 vehicles.

Despite Uganda's small size, infrastructure is limited and roads are often in poor condition; expect long days in vehicles when driving between destinations, especially in the rainy season. Game drives in the national parks are generally conducted in open-sided 4X4s.
Visa & Passport Requirements

All visitors to Uganda require a visa and every visitor’s passport must be valid for at least six months from their departure date. Visas for Uganda can be obtained at all major borders as well as at the international airport at Entebbe. Single and double-entry visas are valid for up to three months at a cost of around US $30 and extensions are available at the immigration office in Kampala.
</h4>



<br />
<h3>About Uganda</h3>

<h2>History & Economy</h2>

<h4>


Settled for at least 50 000 years, Uganda's indigenous people included the pygmoid Batwa, a hunter-gatherer society displaced by the arrival of Central African cattle herders and farmers. The development of political dynasties resulted in a sophisticated pre-colonial history and by the time Arab and European explorers, traders and slavers reached the region, the Buganda Kingdom was well established. Colonised by Britain, independence came in 1962 but it was only in the mid-1980s, after the catastrophic regimes of Milton Obote and Idi Amin, that Uganda experienced social stability and economic growth.
<br />
Fertile soils and regular rainfall mean an economy built around agriculture. Cash crops such as coffee, tea and tobacco dominate the export market but most agriculture in Uganda is subsistence farming, occupying some 75% of the workforce. Significant mineral, gas and oil deposits are set to be exploited in the future while tourism has proved to be an ever-growing sector of the economy.
People & Culture
<br />
Uganda's 39 million people are concentrated in the country's better watered south and west with the Kampala-based Baganda the largest of the country's many ethnic groups. Some 40 regional languages exist but Swahili and English are Uganda's official languages. Religious belief is overwhelmingly Christian-based though Islam is strong in Uganda's Asian communities. It should be noted that Ugandans hold their ancestry in high regard.

Uganda is a conservative country and visitors would do well to adhere to local rules of behaviour. That said, visitors often remark on the friendliness and politeness of the locals: greetings are an elaborate affair and may include inquiries as to the health of your family - perfunctory greetings and a demand for immediate action are somewhat frowned upon!
Landscape & Wildlife
<br />
Lying in a basin between the eastern and western branches of the Rift Valley, Uganda's elevated position means a more temperate climate than its equatorial location might suggest. Most of the country is over 1 000m in altitude and relatively flat apart from the forested mountain ranges that often define its borders. One of Africa's most well-watered countries (25% of Uganda is covered by lakes, rivers and wetlands) the landscape is lush and green for most of the year though northern Uganda grades into semi-desert.

Such a setting makes for staggering biodiversity. Uganda's montane and lowland forests are home to mountain gorillas, chimpanzees and other forest animals while its savannah parks - Queen Elizabethand Murchison Falls - offer classic game viewing, though not on the scale of Kenya or Tanzania.

Uganda wildlife highlights include gorilla trekking in Bwindi Forest, chimpanzee encounters in Kibale Forest and bird watching - with over 1 000 recorded species, Uganda is one of the world's top birding destinations.

</h4>




    </div>
  </v-flex>
</template>
<script>
</script>
<style>
</style>