<template>
  <v-container>
    <v-layout wrap style="font-family: '%%font_family%%', sans-serif;">
      <v-flex xl2 offset-xl10>
          <span style="color: black">Updated: @days ago</span>
      </v-flex>

      <v-flex xs12 xl12 black--text>
          <h1>Blog</h1>
      </v-flex>

      <v-flex  xs12>
          <v-hover v-slot:default="{ hover }">
              <v-card color="#006b45" class="card-margin rounded-card" to="/articles/1"  >
                  <v-container fluid>
                      <v-row align="stretch" no-gutters>
                          <v-col cols="8">
                              <v-row no-gutters>
                                  <v-card-title>
                                      What To Expect In Uganda
                                  </v-card-title>

                                  <v-card-text>

  Uganda Safari

  If you've ever wanted to sit with mountain gorillas in their natural rainforest habitat then a Uganda safari will deliver on your expectations. Boasting a 90% success rate at finding habituated gorilla family groups in the extraordinary Bwindi Impenetrable Forest, gorilla trekking in Uganda has become one of Africa's most powerful wildlife experiences and such is its success that the gorilla population is actually increasing.

                                  </v-card-text>
                              </v-row>
                          </v-col>
                          <v-col cols="4">
                              <v-row align="center" justify="center" style="height: 200px" no-gutters>
                                  <v-img src="http://source.unsplash.com/N9s3FjzsstM" aspect-ratio="1.0" style="max-height: 200px"></v-img>
                              </v-row>
                          </v-col>
                      </v-row>
                  </v-container>

              </v-card>
          </v-hover>
      </v-flex>
      </v-layout>
      <br />
      <v-layout>
        <v-flex  xs12>

                <v-card color="#006b45" class="card-margin rounded-card" to="/articles/2"  >
                    <v-container fluid>
                        <v-row align="stretch" no-gutters>
                            <v-col cols="8">
                                <v-row no-gutters>
                                    <v-card-title>
                                        Uganda Travel Advice
                                    </v-card-title>

                                    <v-card-text>
There's nothing like up-to-date, relevant travel information direct from the experts - get Ekyama's Pretty Little Secrets Uganda travel advice before you go.
What to Pack...
                                    </v-card-text>
                                </v-row>
                            </v-col>
                            <v-col cols="4">
                                <v-row align="center" justify="center" style="height: 200px" no-gutters>
                                    <v-img src="http://source.unsplash.com/TaUsvIGU6jU" aspect-ratio="1.0" style="max-height: 200px"></v-img>
                                </v-row>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card>

        </v-flex>
      </v-layout>



  </v-container>

</template>
<script>
export default {

       head () {
      return {
        title: 'EkyamaAdventures| African Articles and travel Blog Ekyama',
        meta: [
          { hid: 'description', name: 'description', content: 'EkyamaAdventures| Small Group travel and Adventure Company' },
          { property:'og:locale' , content:'af:' },
        { property:'og:type' ,content:'website' },
        { property:'og:title' ,content:'EkyamaAdventures : Adventure and Travel Advice With Fun Facts' },
        { property: 'og:description' ,content:'Find and share everyday cooking inspiration on kachaq recipes. Discover African  recipes, African cooks, videos, and how-tos based on the African  food you love and the friends you follow. kachaq' },
        { property:'og:site_name' ,content: 'ekyamaadventures' },
        { property: 'og:url' ,content: 'https://ekyamaadventures.com/'},
        {name:'twitter:card' ,content: 'summary_large_image'},
        {name:'twitter:description', content:'EkyamaAdventures| Small group travel and Adventure company'},
        { name:'twitter:creator' ,content: '@ekyamaadventur1'},
        {name: 'twitter:site', content: '@ekyamaadventures'},
        { name:'twitter:title', content:'EkyamaAdventures| African Travel Advice blog and Fun'},
        { name:'twitter:image', content:'http://source.unsplash.com/1SPu0KT-Ejg'},

        ]
      }
    },

}
</script>
<style>
</style>
