<template>

    <v-container>
      <v-layout row  class="mt-2">
        <v-flex
        xs12
        sm6
        md6
        md3
        lg7
        xl6
        offset-sm3
        >
        <div data-aos="fade-down"  data-aos-duration="2000">
          <v-card
          color="#1f3139"
          raised
          class="rounded-card"
          >
            <v-carousel

            cycle
            hide-delimiter-background
            delimiter-icon="mdi-heart"
            :show-arrows="false"

            >
              <v-carousel-item
              reverse-transition="fade-transition"
              transition="fade-transition"
                v-for="image in images"
                :key="image.id"
                :src="image.imageUrl"
                width="900px"
                >

                  <v-img ></v-img>
                  <div class="title">
                    {{ image.title }}
                  </div>


              </v-carousel-item>
            </v-carousel>
          </v-card>
            </div>

        </v-flex>
      </v-layout>
      <v-flex xs12 class="text-xs-center">
       <p>Ugandan Roots</p>
      </v-flex>


    </v-container>


</template>

<script>
  export default {
    data () {
      return {
        images: [
          { imageUrl: 'http://127.0.0.1:8000/media/media/IMG_20190903_115700.jpg', id: '11', title: 'wilder beast Jumpers' },
          { imageUrl: 'http://127.0.0.1:8000/media/media/IMG_20190825_183204.jpg', id: '11', title: 'Onjagaza Edembe Tonemesa Travel Voop' },
          { imageUrl: 'http://127.0.0.1:8000/media/media/IMG_20190905_065516.jpg', id: '12', title: 'Team Nyanya mbiisi Jumpers' },
          { imageUrl: 'http://127.0.0.1:8000/media/media/IMG_20190905_111127.jpg', id: '13', title: 'African Cities' },
          { imageUrl: 'https://kiliboid.pythonanywhere.com/media/media/blackwhite3.jpg', id: '14', title: 'boom-boom chao' },
        ]
      }
    },
    head() {
      return {
        title: 'EkyamaAdventures| African Adventure Shop ,Ekyama Merch',
        __dangerouslyDisableSanitizers: ['script'],
        script: [{ innerHTML: JSON.stringify(this.structuredData), type: 'application/ld+json' }],
        meta: [
          { charset: 'utf-8' },
          { name: 'theme-color' , content: '#1f3139' },
          { name: 'viewport', content: 'width=device-width, initial-scale=1' },
          { hid: 'description', name: 'description', content: 'Planning A Safari,Simple Trip ? Ekyamas Specialists have been creating custom Safaris and Trips for Come Book Yours' },
          { property:'og:locale' , content:'af-ZA' },
          { property:'og:type' ,content:'website' },
          { property:'og:title' ,content:' Ekyama|Official Travel and Adventure Online Market' },
          { property: 'og:description' ,content:'The REal Fun is in secrecy and you alone being able to unlock it!Ekyama ' },
          { property:'og:site_name' ,content:'ekyamaadventures' },
          { property:'og:url' ,content: 'https://ekyamaadventures.com/'},
          {name:'twitter:card' ,content: 'summary'},
          {name:'twitter:description', content:'Planning A Safari,Simple Trip ? Ekyamas Specialists have been creating custom Safaris and Trips for Come Book Yours'},
          { name:'twitter:creator' ,content: '@ekyamaadventur1'},
          {name: 'twitter:site', content: '@ekyamaadventures'},
          { name:'twitter:title', content:'Ekyama Adventures| Small Group Travel and Adventure Company Official Shop'},
          { name:'twitter:image', content:'http://source.unsplash.com/aNGHqUAITYc'},
        ],
      }
    },
    
  }
</script>

<style scoped>
  .title {
    position: absolute;
    bottom: 50px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-size: 2em;
    padding: 20px;
  }
  .rounded-card{
      border-radius:10px;
  }
</style>
