<template>
  <v-container fluid color="#013208">
    <v-layout  >
      <v-flex  class="black--text text-xs-center">
        <h3>Where to Go in Uganda</h3>
        <br />
        <h4>
  For a small, landlocked country of which almost 25% is lakes and rivers, Uganda certainly packs in the places of interest. Mountainous, forested Bwindi National Park is where to go in Uganda for gorilla treks but the country is also home to large savannah reserves, lowland rainforests and enchanting lakes which - in combination - make for one of the biggest wildlife experiences in Africa.
</h4>

</v-flex>
    </v-layout>
    <v-layout row  >
      <v-flex >
          <div class="card">
            <div
            v-for="destination in destinations"
            v-bind:key="destination.id"
            >

            <v-flex
            xs12
            sm6
            md12
            lg7
            xl6

            >
              <v-card
               color="#006b45"
              raised
              class="rounded-card"
              >


                <v-img
                :src="destination.DestinationImage"
                >{{destination.Destination_tag}}
                rating:{{destination.DestinationRating}}
              </v-img>
                <v-card-text>
                  <div class="text-center">
        <v-rating
          v-model="destination.DestinationRating"
          color="yellow darken-3"
        ></v-rating>
      </div>

                  {{destination.Destination_caption}}
                </v-card-text>


              </v-card>
            </v-flex>
<br />


            </div>
          </div>

      </v-flex>
    </v-layout>



  </v-container>
</template>
<script>
import axios from 'axios'
export default{

  data () {
        return {
          destinations: [
            {
              id:'1',
              DestinationRating:'4',
              Destination_tag:'Kampala Capital City',
              Destination_caption:'A typical African capital with a compact, high-rise centre surrounded by sprawling suburbs, busy Kampala is Ugandas commercial, political and logistical hub but also one of East Africas most laid-back and friendly cities.',
              DestinationImage:'https://source.unsplash.com/ridPhq6gtRM'

            },
            {
              id:'2',
              DestinationRating:'5',
              Destination_tag:'Bwindi Impenetrable Rain forest',
              Destination_caption:'Dont be put off by its intimidating name: youll be led into Bwindi by naturalist guides and trackers and the reward is worth the effort - this majestic forest is where to go in Uganda for your gorilla trekking experience. Spend an hour with a gorilla family, observing these gentle giants in their pristine rainforest habitat before slipping away and back to your comfortable jungle lodge. A gorilla trek is wet, humid, muddy and tough but the experience is absolutely extraordinary. ',
              DestinationImage:'https://source.unsplash.com/U-XHORk2r3o'

            },
            {
              id:'3',
              DestinationRating:'5',
              Destination_tag:'Murchison Falls',
              Destination_caption:'With the Nile River neatly bisecting Ugandas largest park, you would expect a wide range of animals at Murchison Falls and you would be right. Its where to go in Uganda for classic big game species such as elephant, buffalo, lion and hippo and with a bird count of nearly 500, Murchison Falls also boasts chimpanzees and colobus monkeys in its forests.',
              DestinationImage:'https://source.unsplash.com/CSsUkXtQ_PM'

            },
            {
              id:'5',
              DestinationRating:'4.6',
              Destination_tag:'Queen Elizabeth National Park: birding, game viewing, chimps & river cruises',
              Destination_caption:'Combining easily with Bwindi Forest, Queen Elizabeth National Park is Ugandas most popular and most accessible savannah reserve and is home to elephant, buffalo, leopard, numerous antelope species and the famous tree-climbing lions of the Ishasha Plains.',
              DestinationImage:'https://source.unsplash.com/HWcearm1QpY'

            },
            {
              id:'5',
              DestinationRating:'5',
              Destination_tag:'Kibale Forest National Park: primates, birds & butterflies',
              Destination_caption:'Rapidly becoming a must-do destination in Uganda, Kibale Forest offers visitors an accessible and enlightening insight into life in a tropical rainforest. Large mammals arent so easily seen but the clouds of dazzling butterflies and gorgeous forest birds more than make up for it, and besides, Kibale is most famous for its primates. Go on guided chimpanzee treks in the majestic forest and see how many of the other 12 primate species you can spot.',
              DestinationImage:'https://source.unsplash.com/pn_TY-8_Pbk'

            },
            {
              id:'6',
              DestinationRating:'5',
              Destination_tag:'Lake Mburo National Park: serene,savannah game viewing & birding',
              Destination_caption:'Halfway between Ugandas capital and entry point Kampala and the gorilla trekking forests of the south-west lies Lake Mburo, a perfect overnight stop-over for travellers making their way between the two destinations.',
              DestinationImage:'https://source.unsplash.com/Wnp_V0ElkKU'

            },
          ]
        }
      },
/*  async asyncData () {
   const { data } = await axios.get('https://127.0.0.1:8000/audio/?AudioFile_owner=2')
   return { audios: data }
 }*/

}
</script>
