<template>
  <v-container>
    <v-layout>
<v-flex
black--text
justify-center
>
  <h3 class="tab1" >  Ugandan Safari

  The Pearl is a dream destination in every sense – home to unforgettable wild animals and extraordinary scenic beauty. We travel the length and breadth of every Highland and LowLand we recommend to make sure that our advice is based on firsthand experience and that every supplier in your itinerary is tried-and-tested.

  Uganda  is much more than our passion, it’s our home…
  <br />

      WE won’t show you the world; we'll show you Africa-Uganda, better than anyone else 🙌.</h3>

</v-flex>





    </v-layout>
  </v-container>
</template>
<script>

export default{
  name:'homelanded,',
}
</script>
<style >

.tab1 { text-indent: 40px; }

</style>
