<template>
    <v-container grid-list-lg>
        <v-layout row>
            <v-flex xs12  sm12 md4 black--text class="text-xs-center display-1 font-weight-black my-5">Why Us- Ekyama(secret)?Adventures</v-flex>
        </v-layout>
        <v-layout row wrap class="meal-plans">
            <v-flex xs12 sm12 md4>
                <v-card color="#006b45">
                    <v-responsive>
                        <v-img  lazy-src="https://picsum.photos/id/11/100/60" src="https://source.unsplash.com/SQszo1mP4sk" height="500px">
                            <v-container fill-height fluid>
                                <v-layout fill-height>
                                    <v-flex xs12 align-end flexbox>
                                        <span class="headline white--text">Individual Pearl Experts</span>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-img>
                    </v-responsive>

                    <v-card-text>
                        <div>
                            <h3 class="headline mb-0">African Pearl</h3>
                            <div>
                            <h4>
                              Individual Pearl experts since 2012.

We are Ugandan Safari Experts, not lodge owners. Clients love our unbiased advice.</h4>

                            </div>
                        </div>
                    </v-card-text>



                </v-card>
            </v-flex>

            <v-flex xs12 sm12 md4>
                <v-card color="#006b45">
                    <v-responsive>
                        <v-img  lazy-src="https://picsum.photos/id/11/100/60" src="https://source.unsplash.com/sUTZ280MFpc" height="500px">
                            <v-container fill-height fluid>
                                <v-layout fill-height>
                                    <v-flex xs12 align-end flexbox>
                                        <span class="headline white--text">We got the  best price promise</span>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-img>
                    </v-responsive>

                    <v-card-text>
                        <div>
                            <h4 class="headline mb-0">comes with Free ArtPiece</h4>
                            <div>
                            <h4>
                            You will always get the best value with us, in one complete tailor-made itinerary.
                              Checkout our Pricing<v-icon>mdi-earth</v-icon>
                            </h4>
                              
                            </div>
                        </div>
                    </v-card-text>


                </v-card>
            </v-flex>

            <v-flex xs12 sm12 md4>
                <v-card color="#006b45">
                    <v-responsive>
                        <v-img  lazy-src="https://picsum.photos/id/11/100/60" src="https://source.unsplash.com/GGW3ZW_cEHk" height="500px">
                            <v-container fill-height fluid>
                                <v-layout fill-height>
                                    <v-flex xs12 align-end flexbox>
                                        <span class="headline white--text">24/7 on-safari support.</span>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-img>
                    </v-responsive>

                    <v-card-text>
                        <div>
                            <h3 class="headline mb-0">Next To You</h3>
                            <div>
                            <h4>
                              Always there for you, from before you travel to after you return home.
                              </h4>
                            </div>
                        </div>
                    </v-card-text>


                </v-card>
            </v-flex>

        </v-layout>
    </v-container>
</template>

<script>
export default {
    name: 'whyuse'
};
</script>

<style scoped>
</style>

