<template>
<v-card
flat
color="#000000"
>
<span>add to cart </span>
<v-list-item>
  <v-list-item-avatar color="black"></v-list-item-avatar>
  <v-list-item-content color="green">price</v-list-item-content>
  <v-list-item-content color="green">total</v-list-item-content>
</v-list-item>
</v-card>

</template>
<script>
export default{

}
</script>
<style>
</style>