<template>
  <div>
    <homelanded></homelanded>
    <whyuse></whyuse>
  </div>
</template>
<script>
import homelanded from './landed/homelanded.vue'
import whyuse from './landed/whyuse.vue'
export default{
  components:{homelanded,whyuse,},
}
</script>
<style>
</style>
