<template>
<div class="container">
  <v-container
    fluid
    grid-list-md
    pa-2
  >
    <v-layout
     align-center
     justify-center
     row
     >
      <v-flex
        xs12
        sm6
        md12
        lg7
        xl6
        offset-sm3
        >

        <v-card
        color="#006b45"
        raised
        class="rounded-card"
        >
        <v-img
         :src="image.TravelFile"
          >
        </v-img>
        
          <v-card-text>
                {{image.TravelFile_caption}}                    
          </v-card-text>

         

        </v-card>


      </v-flex>


    </v-layout>
  </v-container>
</div>


</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import axios from 'axios'
export default {
  name:"ImageCard",
    props: ["image",],

  data() {
    return {
      url: this.image.travelFile
    }
  },


  methods: {

    forceFileDownload(response){
      const url = window.URL.createObjectURL(new Blob([response.data]))
      const link = document.createElement('a')
      link.href = url
      link.setAttribute('download', 'kachaq.jpg') //or any other extension
      document.body.appendChild(link)
      link.click()
    },

    downloadWithAxios(){
      axios({
        method: 'get',
        url: this.url,
        responseType: 'arraybuffer'
      })
      .then(response => {

        this.forceFileDownload(response)

      })
      .catch(() => console.log('error occured'))
    }
  }




}
</script>
<style>
.rounded-card{
    border-radius:10px;
}

</style>
