<template>
  <social-sharing url="https://vuejs.org/"
                title="YoloSafaris"
                description="WE help you find the pearl before others do"
                quote="Uganda Travels Highs and lows."
                hashtags="travel,UgandaPearl,TravelToUganda"
                twitter-user="vuejs"
                inline-template>
<div>
<network network="email">
    <i class="fa fa-envelope"></i> Email <v-icon color="black">mdi-email</v-icon>
</network>
<network network="facebook">
  <i class="fa fa-facebook"></i> Facebook <v-icon color="blue">mdi-facebook</v-icon>
</network>
<network network="googleplus">
  <i class="fa fa-google-plus"></i> Google + <v-icon color="red">mdi-google-plus</v-icon>
</network>
<network network="line">
  <i class="fa fa-line"></i> Line
</network>
<network network="linkedin">
  <i class="fa fa-linkedin"></i> LinkedIn <v-icon color="blue">mdi-linkedin</v-icon>
</network>
<network network="odnoklassniki">
  <i class="fa fa-odnoklassniki"></i> Odnoklassniki
</network>
<network network="pinterest">
  <i class="fa fa-pinterest"></i> Pinterest <v-icon color="red">mdi-pinterest</v-icon>
</network>
<network network="reddit">
  <i class="fa fa-reddit"></i> Reddit <v-icon color="red">mdi-reddit</v-icon>
</network>
<network network="skype">
  <i class="fa fa-skype"></i> Skype <v-icon color="blue">mdi-skype</v-icon>
</network>

<network network="telegram">
  <i class="fa fa-telegram"></i> Telegram <v-icon color="blue">mdi-telegram</v-icon>
</network>
<network network="twitter">
  <i class="fa fa-twitter"></i> Twitter <v-icon color="blue">mdi-twitter</v-icon>
</network>
  <div>
          <v-btn icon>
            <network network="sms">
              <i class="fa fa-commenting-o"><v-icon color="purple">mdi-message</v-icon></i>
            </network>
          </v-btn>
        </div>
<network network="weibo">
  <i class="fa fa-weibo"></i> <v-icon color="black">mdi-weibo</v-icon> Weibo
</network>
<network network="whatsapp">
  <i class="fa fa-whatsapp"></i> <v-icon color="green">mdi-whatsapp</v-icon> Whatsapp
</network>
</div>
</social-sharing>
</template>
<script>
export default{
  name:"SocialSharing",
}
</script>
<style>
</style>

