<template>
  <v-card
    :loading="loading"
    class="mx-auto my-12"
    max-width="374"
    color="#006b45"
  >
    <v-img
      height="250"
      src="https://source.unsplash.com/6ufqEvxq90w"
    ></v-img>

    <v-card-title>Contact Us</v-card-title>

    <v-card-text>
      <v-row
        align="center"
        class="mx-0"
      >
        <v-rating
          :value="4.5"
          color="amber"
          dense
          half-increments
          readonly
          size="14"
        ></v-rating>

        <div class="grey--text ml-4">4.5 (413)</div>
      </v-row>

      <div class="my-4 subtitle-1 black--text">
        $ • Pearl Experts 
      </div>

      <div>When Once in a Lifetime is Just the Beginning.
      <br/>
      We are immensely proud of our contribution to conservation and privileged to make so many travel dreams come true. 
      Most of all, we look forward to creating more life-changing experiences with you in the years to come
      </div>
    </v-card-text>

    <v-divider class="mx-4"></v-divider>

    <v-card-title>Connect Directly</v-card-title>

    <v-card-text>
      <v-chip-group
        v-model="selection"
        active-class="deep-purple accent-4 white--text"
        column
      >
        <v-chip>5:30PM</v-chip>

        <v-chip>7:30PM</v-chip>

        <v-chip>8:00PM</v-chip>

        <v-chip>9:00PM</v-chip>
      </v-chip-group>
      <v-divider class="mx-4"></v-divider>
      
      <div>
                            <h4 class="headline mb-0">AnyTime </h4>
                            <div>
                            <h4>phone</h4>  <v-icon>mdi-phone-outline</v-icon><h4>(+256)0780289317</h4>
                              <br />
                           <h4>Text|Message</h4>    <v-icon>mdi-whatsapp</v-icon><h4>(+256)0780289317</h4>
                              <br />
                            <h4> Email</h4> <v-icon>mdi-Gmail</v-icon><h4>ekyamaadventures@gmail.com</h4>
                            </div>
                        </div>
    </v-card-text>

    <v-card-actions>
      <v-btn
        color="deep-purple accent-4"
        text
        @click="reserve"
      >
        Book
      </v-btn>
    </v-card-actions>
  </v-card>
</template>
<script>
  export default {
    data: () => ({
      loading: false,
      selection: 1,
    }),

    methods: {
      reserve () {
        this.loading = true

        setTimeout(() => (this.loading = false), 2000)
      },
    },
  }
</script>
<style>
</style>