body{
  font-family: 'Domine', serif;
}
div{
  font-family: 'Indie Flower', cursive;
}
h1,

h2{
  font-family: 'Caveat', cursive;
}
.p{
  font-family: 'Hind', sans-serif;
}
span{
  font-family: 'Indie Flower', cursive;
}
h4{
 font-family: 'Quicksand', sans-serif;
}