<template>
  <v-app style="background: #ffffff">
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
      color="#000000"
    >
      <v-list>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
        <a href="/"><v-list-item-title v-text="item.title" /></a>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      :clipped-left="clipped"
      fixed
      app
      color="#bcf5bc"

    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-btn
        icon
        @click.stop="miniVariant = !miniVariant"
      >
        <v-icon>mdi-{{ `chevron-${miniVariant ? 'right' : 'left'}` }}</v-icon>
      </v-btn>


    <a href="/"><v-toolbar-title v-text="title" /></a>
      <v-spacer />
      
      <v-btn icon to="/contactus"><v-icon>mdi-phone-in-talk-outline</v-icon></v-btn>
    </v-app-bar>
    <v-content>
      <v-container>
        <checkoutbutton></checkoutbutton>
        <nuxt />
      </v-container>
    </v-content>

    <v-footer

     absolute
      app
      color="#000000"
    >
     
      <social></social>
      <v-spacer></v-spacer>
    <a><span>special offers<v-icon>mdi-cash</v-icon></span></a>
     <span>Powered by Chwezxi Inc.&copy; < /></span>
    </v-footer>
  </v-app>
</template>

<script>
import checkoutbutton from './checkoutbutton.vue'
import social from './socialsharing/social.vue'
export default {
  data () {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      items: [

        {
          icon: 'mdi-chart-bubble',
          title: 'Ekyama  Art Photography',
          to: '/images'
        },
        {
          icon: 'mdi-earth',
          title: 'Ekyama Destinations',
          to: '/destinations'
        },
        {
          icon: 'mdi-newspaper',
          title: ' Ekyama articles',
          to: '/articles'
        },
        {
          icon: 'mdi-heart',
          title: 'About-Us',
          to: '/aboutus'
        }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Ekyama Adventures'
    }
  },
  components:{checkoutbutton,social},
}
</script>

