<template>
  <div>
    <facebook></facebook>
    <v-spacer></v-spacer>
    <twitter></twitter>
    <v-spacer></v-spacer>
    <instagram></instagram>
  </div>
</template>
<script>
import facebook from './facebook.vue'
import twitter from './twitter.vue'
import instagram from './instagram.vue'
export default{
  components:{facebook,twitter,instagram}
}
</script>
<style>
</style>
