<template>
<div>
  <home></home>

      <masonry
   :cols="{default: 4, 1000: 3, 500: 2, 300: 1}"
    :gutter="{default: '30px', 400: '15px'}"
   >
      <div
      v-for="image in images"
      v-bind:key="images.id"
      >

      <imagecard
      :image ="image"
      ></imagecard>

    </div>
    </masonry>
    
    <mostvisited></mostvisited>


</div>
</template>

<script>
import home from '~/components/home.vue'
import mostvisited from '~/components/mostvisited.vue'
import axios from 'axios'
import imagecard from '~/components/imagecard.vue'
export default {
  data() {
  return {
    structuredData: {
           "@context": "http://schema.org",
       "@type": "WebSite",
       "url": "https://ekyamaadventures.com",
       "name": "ekyamaadventures",
    },
  }
},
head() {
  return {
    __dangerouslyDisableSanitizers: ['script'],
    script: [{ innerHTML: JSON.stringify(this.structuredData), type: 'application/ld+json' }],
    title: 'Ekyama Adventures| Small Group Travel and Adventure Company 🚀',
      meta: [

      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { hid: 'keywords', name: 'keywords', content: 'African Travel, Africa Adventure, , afro-pop typebeats, Uganda Travel, music upload, audio direct sales, lol, humor, buy with bitcoin, comment, share, ekyamaadventures, ekyama, Uganda Travel and Tours' },
      { hid: 'description', name: 'description', content: 'Planning A Safari,Simple Trip ? Ekyamas Specialists have been creating custom Safaris and Trips for Come Book Yours' },
      { property:'og:locale' , content:'af-ZA' },
      { property:'og:type' ,content:'website' },
      { property:'og:title' ,content:'ekyama| Ekyama Adventures| Small Group Travel and Adventure Company 🚀' },
      { property: 'og:description' ,content:'Ekyama| Planning A Safari,Simple Trip ? Ekyamas Specialists have been creating custom Safaris and Trips for Come Book Yours' },
      { property:'og:site_name' ,content:'ekyamaadventures' },
      { property:'og:url' ,content: 'https://ekyamaadventures.com/'},
      {name:'twitter:card' ,content: 'summary'},
      {name:'twitter:description', content:'Planning A Safari,Simple Trip ? Ekyamas Specialists have been creating custom Safaris and Trips for Come Book Yours' },
      { name:'twitter:creator' ,content: '@ekyamaadventur1'},
      {name: 'twitter:site', content: '@ekyamaadventures'},
      { name:'twitter:title', content:'Ekyama Adventures| Small Group Travel and Adventure Company '},
      { name:'twitter:image', content:'https://source.unsplash.com/Tvo1NEmfYB0'},
    ],
  }
},
  components: {home,imagecard,mostvisited},
  async asyncData () {
   const { data } = await axios.get('https://ugtravellers.pythonanywhere.com/travel/')
   return { images: data }
 },
}
</script>
